$custom-primary: #A084DC;
$tag-color:#deaded;

.btn-custom-primary {
  background-color: $custom-primary;
  border-color: $custom-primary;
  color: aliceblue;
}

.btn-custom-primary:hover {
  background-color: darken($custom-primary, 10%);
  border-color: darken($custom-primary, 10%);
  color: aliceblue;
}

.btn-check:checked+.btn{
  background-color: darken($tag-color, 10%);
  border-color: darken($tag-color, 10%);
  color: aliceblue;
}

.btn-tag-color {
  background-color: $tag-color;
  border-color: $tag-color;
  color: aliceblue;
}

.todo-title{
  color: #A084DC;
}

.tagbg{
  background-color: #deaded;
  color: aliceblue;
  padding: 5px 10px;
  border-radius: 10px;
  display: inline-block;
  font-size: 12px;
}
